<form action="distance.html" method="post"> 

    {% csrf_token %}

    <br><label for="building1" class="sr-only">Enter Building 1:</label>
    <select class="form-control" id="building1" name="building1" required>
        {% for building in all_buildings %}
            <option value="{{building.id}}">{{building.name}}</option>
        {% endfor %}
    </select>

    <br><label for="building2" class="sr-only">Enter Building 2:</label>
    <select class="form-control" id="building2" name="building2" required>
        {% for building in all_buildings %}
            <option value="{{building.id}}">{{building.name}}</option>
        {% endfor %}
    </select>
<!--
    <br><label for="building3" class="sr-only">Enter Building 3:</label>
    <select class="form-control" id="building3" name="building3" required>
        {% for building in all_buildings %}
            <option value="{{building.id}}">{{building.name}}</option>
        {% endfor %}
    </select>

    <br><label for="building4" class="sr-only">Enter Building 4:</label>
    <select class="form-control" id="building1" name="building4" required>
        {% for building in all_buildings %}
            <option value="{{building.id}}">{{building.name}}</option>
        {% endfor %}
    </select>
-->
    <p><input type="submit" value="Send form"/></p>

</form>