{% extends 'maps/base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
   {% load staticfiles %}
    <link href="{% static 'for_maps/time_calculator.css' %}" rel="stylesheet"></link>

  <title>Maps</title>
</head>

<div id="timeline-content">
        <h1>Walk Time Calculator</h1>
      
        <ul class="timeline">
          <li class="event">
            {% for start, destination, distance, time in distance_info %}
                <h2>From {{ start }} to {{ destination }}</h2>
                <h3>{{ time }} minutes</h3>
                <p>{{ distance }} mi.</p>
                <p>..........................................................................................</p>
            {% endfor %}
          </li>
        </ul>
      </div>
{%endblock%}
