{% extends 'maps/base.html' %}

{% block content %}

{% for building in all_buildings %}
    {% if building.name == map.building1 %}
         <p>{{ building.name }}</p>
         <p>{{ distances.0 }}</p>
    {% endif %}
{% endfor %}

{% for building in all_buildings %}
    {% if building.name == map.building2 %}
         <p>{{ building.name }}</p>
         <p>{{ distances.1 }}</p>
    {% endif %}
{% endfor %}

{% for building in all_buildings %}
    {% if building.name == map.building3 %}
         <p>{{ building.name }}</p>  
         <p>{{ distances.2 }}</p>
    {% endif %}
{% endfor %}

{% for building in all_buildings %}
    {% if building.name == map.building4 %}
        <p>{{ building.name }}</p>
        <p>{{ distances.3 }}</p>
    {% endif %}
{% endfor %}

{% for building in all_buildings %}
    {% if building.name == map.building5 %}
        <p>{{ building.name }}</p>
        <p>{{ distances.4 }}</p>
    {% endif %}
{% endfor %}


{%endblock%}