<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   {% load staticfiles %}
    <link href="{% static 'for_maps/maps_form.css' %}" rel="stylesheet"></link>

  <title>Maps</title>
</head>
<body>
    <form method = "post">
    <div class="container-fluid">
    <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
    <div class="login d-flex align-items-center py-5">
    <div class="container">
    <div class="row">
    <div class="col-md-9 col-lg-8 mx-auto">
    <h3 class="login-heading mb-4">Select your class buildings according to your schedule!</h3>
    <h4 class="login-heading mb-4">(We will calculate the time it will take you to walk between your classes)</h4>
    <h5 class="login-heading mb-4">If you have less than 5 classes in a day, select your final one to fill up all the spots</h5>
                    
<form method="POST" action="">
    {% csrf_token %}

    {{form.non_field_errors}}
    <div class="form-label-group">
        {{form.building1.errors}}
        <!--<label for="{{form.description.id_for_label}}">Building 1:</label>-->
        {{form.building1}}
    </div>
    
    <div class="form-label-group">
        {{form.building2.errors}}
        <!--<label for="{{form.description.id_for_label}}">Building 2:</label>-->
        {{form.building2}}
    </div>

    <div class="form-label-group">
        {{form.building3.errors}}
        <!--<label for="{{form.description.id_for_label}}">Building 3:</label>-->
        {{form.building3}}
    </div>

    <div class="form-label-group">
        {{form.building4.errors}}
        <!--<label for="{{form.description.id_for_label}}">Building 4:</label>-->
        {{form.building4}}
    </div>

    <div class="form-label-group">
        {{form.building5.errors}}
        <!--<label for="{{form.description.id_for_label}}">Building 5:</label>-->
        {{form.building5}}
    </div>

    <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Calculate walking time</button>
    <!--<input type="submit" value="Submit">-->
</form>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>