{% load static %}
<html>
    <head>
        <title>Advice Post</title>
        <!-- Bootstrap Core CSS -->
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{% static 'css/stylish-portfolio.min.css' %}" rel="stylesheet">

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'for_advice/blog.css' %}">
        <style>
        .top-menu > .glyphicon:last-child {
          position: absolute;
          top: 2px;
          left: 2px;
      }
        </style>
    </head>
    <body id = "page-top">
      <a class="menu-toggle rounded" href="#">
        <i class="fas fa-bars"></i>
      </a>
      <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <a class="js-scroll-trigger" href="#page-top">Menu</a>
          </li>
          <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="/">Homepage</a>
          </li>
          <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="../../add/maps">Run to My Classes</a>
          </li>
          <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="view_advice.html">Advice</a>
          </li>
          <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="time.html#time">Time Management</a>
          </li>
          <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="ratings_landing_page.html">Rate My Classes</a>
          </li>
        </ul>
      </nav>

      <header class="masthead" style="background-image: url({% static 'for_advice/home-bg.jpg' %})">
        <div class="overlay"></div>
      <span><div><a href="post_new.html#addPost" class="top-menu"><span class="glyphicon glyphicon-plus">Add</span></a></div></span>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

              <div class="site-heading">
                <h1 align="center">Advice Social Network!</h1>
                <span class="subheading">View advice from fellow Jayhawks!</span>
              </div>
            </div>
          </div>
        </div>
      </header>

<a name="addPost"></a>
        <div class="content container">
    <div class="row">
        <div class="col-md-8">
          <h2>New post</h2>
          <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Save</button>
          </form>
        </div>
    </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p class="copyright text-muted">Copyright &copy; Freshman Starter Kit 2019</p>
      </div>
    </div>
  </div>
</footer>


  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'for_timer/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'for_timer/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'for_timer/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'js/stylish-portfolio.min.js' %}"></script>
  <!-- Contact form JavaScript -->
  <script src="{% static 'for_timer/js/jqBootstrapValidation.js' %}"></script>
  <script src="{% static 'for_timer/js/contact_me.js' %}"></script>
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="{% static 'for_timer/js/refreshTime.js' %}" ></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'for_timer/js/agency.min.js' %}"></script>
    </body>
</html>
