<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Business Casual - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'stat/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'stat/css/business-casual.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/stylish-portfolio.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top">Menu</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="/">Homepage</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="maps.html">Run to My Classes</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="time.html">Time Management</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="ratings_landing_page.html">Rate My Classes</a>
      </li>
    </ul>
  </nav>

  <h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">Jayhawk Starter Kit</span>
    <span class="site-heading-lower">Rate My Classes</span>
  </h1>

  <!-- Navigation -->
  <!--
  <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="index.html">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="about.html">About</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="products.html">Products</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="store.html">Store</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
-->
  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="static/stat/img/ratings.jpg" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Rate the class</span>
            <!--<span class="section-heading-lower">Worth Drinking</span> -->
          </h2>
          <p class="mb-3">Here you can rate the classes that you have previous taken and help the Jayhawks!
          </p>
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="rating_form.html">Click here to Rate!</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="static/stat/img/view.jpg" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">View the Ratings for a class</span>
            <!--<span class="section-heading-lower">Worth Drinking</span> -->
          </h2>
          <p class="mb-3">Here you can view the ratings of the classes at KU and choose the best class for you, Jayhawk!
          </p>
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="ratings_view_class.html">Click here to View Ratings!</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0 small">Copyright &copy; Your Website 2019</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'for_timer/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'for_timer/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'for_timer/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'js/stylish-portfolio.min.js' %}"></script>
  <!-- Contact form JavaScript -->
  <script src="{% static 'for_timer/js/jqBootstrapValidation.js' %}"></script>
  <script src="{% static 'for_timer/js/contact_me.js' %}"></script>
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="{% static 'for_timer/js/refreshTime.js' %}" ></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'for_timer/js/agency.min.js' %}"></script>

</body>

</html>
