{% load static %}
<html>
    <head>
        <title>Advice Post</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'for_advice/blog.css' %}">
    </head>
    <body>

      <header class="masthead" style="background-image: url({% static 'for_advice/home-bg.jpg' %})">
        <div class="overlay"></div>
        <span><div><a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus">HI there</span></a></div></span>

        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

              <div class="site-heading">
                <h1 align="center">Advice Social Network!</h1>
                <span class="subheading">View advice from fellow Jayhawks!</span>
              </div>
            </div>
          </div>
        </div>
      </header>

        <div class="content container">
    <div class="row">
        <div class="col-md-8">
          {% for post in posts %}
              <div class="post">
                  <div class="date">
                      <p>published: {{ post.published_date }}</p>
                  </div>
                      <h2>{{ post.user_name }}</h2>
                      <h4>{{ post.year_in_school }}</h4>
                      <h3>{{ post.title }}</h3>
                      <h3>{{ like_count }}</h3>
                      <p>{{ post.text|linebreaksbr }}</p>
                  <div>
                    <!--<form action = "#" method="GET" >
                      <input type="submit" class="btn" value="Click" name="mybtn"/>
                      <button type='submit' name = "mybtn" >Click me: 0</button>
                    </form>-->
                  </div>
                  <!--<form action= "#" method="get">
                    <input type="submit" class="btn" value="Click" name="mybtn">
                  </form>-->
                    <!--<input type="submit" class="btn" value="Click" name="mybtn">-->
              </div>
          {% endfor %}


        </div>
    </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
        <p class="copyright text-muted">Copyright &copy; Your Website 2019</p>
      </div>
    </div>
  </div>
</footer>
    </body>
</html>
