{% load static %}
<html>
    <head>
        <title>Advice Post</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'for_advice/blog.css' %}">
    </head>
    <body id="page-top">

      <header class="masthead" style="background-image: url({% static 'for_advice/home-bg.jpg' %})">
        <div class="overlay"></div>
        <div><a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a></div>

        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

              <div class="site-heading">
                <h1 align="center">Advice Social Network!</h1>
                <span class="subheading">View advice from fellow Jayhawks!</span>
              </div>
            </div>
          </div>
        </div>
      </header>

        <div class="content container">
    <div class="row">
        <div class="col-md-8">
          {% for post in posts %}
              <div class="post">
                  <div class="date">
                      <p>published: {{ post.published_date }}</p>
                  </div>
                  <h2><a href="">{{ post.user_name }}</a></h2>
                  <h4><a href="">{{ post.year_in_school }}</a></h4>
                  <h3><a href="">{{ post.title }}</a></h3>
                  <p>{{ post.text|linebreaksbr }}</p>
                  <button type="submit">Like</button>
              </div>
          {% endfor %}

        </div>
    </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
        <p class="copyright text-muted">Copyright &copy; Your Website 2019</p>
      </div>
    </div>
  </div>
</footer>
    </body>
</html>
